body{
    margin: 0;
    padding: 0;
}


.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-container input {
    width: 100%;
    padding: 3px 20px 3px 3px; /* espacio para la lupa */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container i {
    position: absolute;
    top: 50%;
    right: 10px; /* ubicación de la lupa */
    transform: translateY(-50%);
    color: #888;
}


.form1{
    max-width: 400px;
}

.portada{
    position: relative;
    width: 100%;
    height: 70vh; /* Ajusta esta altura según tus necesidades */
    object-fit: cover;
}
h2{
    position: absolute;
    left: 35%;
    top: 30%;
    font-size: 5rem;
}
.arrowDonw{
    position: absolute;
    left: 50%;
    top: 70%;
}